<% include partials/header.ejs %>

        <!-- remove carousel-fade forsliding effect instead of transition -->
        <div id="background">
            <img src="/Background.jpg" alt="Image.jpg">
        </div>
        
        <div style="background-color: #9999ff;>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="power-message">Trade Foreign Currencies with a Demo Account</h2>
                    </div>
                </div>
            </div>
        </div>

        <div style="background-color: #eeeef7;>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="welcome-kit">Open a risk free demo account<br>to experience the benefits of Forex trading.<br>You'll receive 1000 USD in Virtual currency<br>for signing up. No e-mail required.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="world-background-landing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="world-box">
                            <div class="container" style="text-align: center;">

                                <h1 style="text-align: center; color: darkslateblue; padding-top: 15px; padding-bottom: 40px; font-weight: bold;" class="col-lg-12">Example Screenshots</h1>

                                <h4 style="text-align: center; color: darkslateblue; padding-top: 15px; padding-bottom: 10px; font-weight: bold;" class="col-lg-12">Mobile Friendly</h4>
                                <img src="/MobileScreenshot.png" alt="Image.jpg" style="box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15); width: 75%;">
                                
                                <h4 style="text-align: center; color: darkslateblue; padding-top: 60px; padding-bottom: 10px; font-weight: bold;" class="col-lg-12">Trade 20 Popular Currencies</h4>
                                <img src="/TradingBoardScreenshot.png" alt="Image.jpg" style="box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15); width: 100%;">
                                
                                <h4 style="text-align: center; color: darkslateblue; padding-top: 60px; padding-bottom: 10px; font-weight: bold;" class="col-lg-12">View Your Account Details</h4>
                                <img src="/AccountScreenshot.png" alt="Image.jpg" style="box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15); width: 100%;">
                                
                                <h4 style="text-align: center; color: darkslateblue; padding-top: 60px; padding-bottom: 10px; font-weight: bold;" class="col-lg-12">Receive Monthly, Quarterly and Annual Statements</h4>
                                <img src="/QuarterlyStatementScreenshot.png" alt="Image.jpg" style="box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15); width: 100%;">



                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>



<% include partials/footerMenu.ejs %>



    </body>
</html>
        


		